---
let { surn } = Astro.props;
import { FamilyGraph } from './FamilyGraph'
const props = {url: Astro.url};
console.log(`FamilyMembers props url is ${props.url}`)
---
<script>
    import { FamilyGraph } from './FamilyGraph.js'
    import { GedcomDb } from './database.js';

</script>
<div id={surn}>
    surn: {surn}
    <family-graph surn={surn} url={Astro.url} />
</div>
